    main {
    background-color: #00157e;
    color: white;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: relative
}

    .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0;
    font-size: 60px;
}

    .station-title {
    font-size: 90px;
    font-weight: bold;
}

    .clock {
    width: 210px;
    height: 210px;
    border: none;
}

    .table {
    margin-top: 170px;
    width: 100%;
    border-collapse: collapse;
}

    .table th,
    .table td {
        border-bottom: 2px solid white;
        padding: 10px;
        text-align: left;
        color: white;
        font-size: 50px;
    }

    .table th {
        font-weight: normal;
    }

    .abfahrtzeit {
    font-weight: bold;
}

    .hinweis {
    color: #ccc;
}

    .loslaufen {
    font-size: 70px;
    width: fit-content;
    position: relative;
    bottom: 15px;
}

    .clock {
    width: 420px;
    height: 420px;
    position: absolute;
    top: 20px;
    right: 10px;
    border: none;
}

@media (max-width: 1370px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 5vw;
    }

    .station-title {
        font-size: 6vw;
    }

    .clock {
        position: static;
        width: 40vw;
        height: 40vw;
        margin: 20px auto;
        display: block;
    }

    .table th,
    .table td {
        font-size: 4vw;
    }

    .loslaufen {
        font-size: 5vw;
    }
}
