body {
    main {
    background-color: #00157e;
    color: white;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: relative
}

    .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0;
    font-size: 60px;
}

    .station-title {
    font-size: 1.5em;
    font-weight: bold;
}

    .clock {
    width: 210px;
    height: 210px;
    border: none;
}

    .table {
    margin-top: 100px;
    width: 100%;
    border-collapse: collapse;
}

    .table th,
    .table td {
        border-bottom: 2px solid white;
        padding: 10px;
        text-align: left;
        color: white;
        font-size: 50px;
    }

    .table th {
        font-weight: normal;
    }

    .abfahrtzeit {
    font-weight: bold;
}

    .hinweis {
    color: #ccc;
}

    .loslaufen {
    font-size: 70px;
    width: fit-content;
    position: relative;
    bottom: 15px;
}

    .clock {
    width: 420px;
    height: 420px;
    position: absolute;
    top: 20px;
    right: 10px;
    border: none;
}
}
